<% if logged_in? %>
  <div class="row">
    <div class="col-xs-8">
      <%= render 'posts/posts', posts: @posts %>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <div class="text-center">
      <h1>Emotion</h1>
      <h2>何気ない日常と、かけがえのない記憶</h2>
      <%= link_to 'Sign up', signup_path, class: 'btn btn-lg btn-primary' %>
      <%= link_to 'Log in', login_path, class: 'btn btn-lg btn-primary' %>
    </div>
  </div>
<% end %>