<% if logged_in? %>
  <div class="row">
    <div class="col-xs-8">
      <%= render 'posts/posts', posts: @posts %>
    </div>
  </div>
<% else %>
  <% content_for :cover do %>
  <div class="cover">
    <div class="cover-inner">
      <div class="cover-contents">
        <h1>Emotion</h1>
        <h2>何気ない日常と、かけがえのない記憶</h2>
          <% unless logged_in? %>
            <%= link_to 'Sign up', signup_path, class: 'btn btn-success btn-lg' %><br>
            <%= link_to 'Login', login_path, class: 'btn btn-success btn-lg' %>
          <% end %>
      </div>
    </div>
  </div>
<% end %>

<p>テスト</p>
<% end %>