@charset "utf-8";

/* body */
body {
  background: #f2f2f2;
}
footer {
  margin-top: 40px;
}

/* navbar */
.navbar {
  background-color: #fff;
}
.navbar-header img {
  margin-top: 5px;
  height: 40px;
}

/* cover */
.cover {
  margin-top: -20px;
  margin-bottom: 20px;
  width: auto;
  height: 1000px;
  background: url("/images/cover-bg.jpg") center center no-repeat;
  background-size: cover;
}
.cover .cover-inner {
  height: 70%;
  margin: auto;
  display: table;
}
.cover .cover-inner .cover-contents {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  position: relative;
}
.cover .cover-inner .cover-contents h1 {
  font-size: 12ex;
  margin: 0 0 20px 0;
  color: #00ff00;
  font-weight: bold;
}

.cover .cover-inner .cover-contents h2 {
  font-size: 270%;
  margin: 40px 0 60px 0;
  color: #fff;
  letter-spacing: 0.20em;
}
